@page "/landing"
@inject IJSRuntime JSRuntime
@inject CompanioNationSignalRClient SignalRClient
@using CompanioNation.Shared
@using System.ComponentModel.DataAnnotations
@inject IStringLocalizer<LandingPage> Loc


<CompanioNationLogo />

<div class="fullWidthCentered">
    <div class="block">
        <button class="greenButton" @onclick="MainLayoutInstance.ShowLogin">@Loc["LandingPage_LoginButton"]</button>
    </div>
</div>

@if (_showStoreBadges)
{
    <div class="storeBadges">
        <a href="@GooglePlayUrl" target="_blank" rel="noopener noreferrer" aria-label="@Loc["LandingPage_GetItOnGooglePlay"]">
            <img src="images/stores/google-play-badge.svg" alt="@Loc["LandingPage_GetItOnGooglePlay"]" width="152" height="44" />
        </a>
        <a href="@AppStoreUrl" target="_blank" rel="noopener noreferrer" aria-label="@Loc["LandingPage_DownloadOnTheAppStore"]">
            <img src="images/stores/app-store-badge.svg" alt="@Loc["LandingPage_DownloadOnTheAppStore"]" width="152" height="44" />
        </a>
        <a href="@MicrosoftStoreUrl" target="_blank" rel="noopener noreferrer" aria-label="@Loc["LandingPage_GetItFromMicrosoft"]">
            <img src="images/stores/microsoft-store-badge.svg" alt="@Loc["LandingPage_GetItFromMicrosoft"]" width="152" height="44" />
        </a>
    </div>
}

<div class="intro">
    <h3>@Loc["LandingPage_Headline"]</h3>
    <ul>
        <li>@Loc["LandingPage_Feature_Free"]</li>
        <li>@Loc["LandingPage_Feature_Validation"]</li>
        <li>@Loc["LandingPage_Feature_AI"]</li>
        <li>@Loc["LandingPage_Feature_BuiltBy"]</li>
    </ul>
</div>


<div class="fullWidth">
    <div id="fb-widget-container" style="max-width: 500px; margin: 0 auto;">
        <div class="fb-page" 
             data-href="https://www.facebook.com/profile.php?id=61558167633095" 
             data-tabs="timeline" 
             data-width="500"
             data-height="" 
             data-small-header="false" 
             data-adapt-container-width="true" 
             data-hide-cover="false" 
             data-show-facepile="true">
            <blockquote cite="https://www.facebook.com/profile.php?id=61558167633095" class="fb-xfbml-parse-ignore">
                <a href="https://www.facebook.com/profile.php?id=61558167633095">CompanioNation</a>
            </blockquote>
        </div>
    </div>

    <AdviceOfTheDay />
    <!--
    <br /><br />
    <div class="container">
        <div id="youtubePlayer"></div>
    </div>
    -->

    <br /><br />
    <b>@Loc["LandingPage_WhatIs_Title"]</b>
    <br />
    <ul>
        <li>@Loc["LandingPage_WhatIs_Free"]</li>
        <li>@Loc["LandingPage_WhatIs_Worldwide"]</li>
        <li>@Loc["LandingPage_WhatIs_NoLikeGame"]</li>
        <li>@Loc["LandingPage_WhatIs_NoLimits"]</li>
        <li>@Loc["LandingPage_WhatIs_CompanioNita"]</li>
        <li>@Loc["LandingPage_WhatIs_FreeAdvice"]</li>
        <li>@Loc["LandingPage_WhatIs_Scammers"]</li>
        <li>@Loc["LandingPage_WhatIs_Ratings"]</li>
        <li>@Loc["LandingPage_WhatIs_ComingSoon"]</li>
    </ul>
    <br /><br /><br />
    <br /><br /><br />
</div>

<Footer />

@code {
    [Parameter, EditorRequired]
    public MainLayout MainLayoutInstance { get; set; }

    // Public store listings. Linked from the landing page when running in a web browser.
    private const string GooglePlayUrl = "https://play.google.com/store/apps/details?id=com.companionation.app&hl=en_CA&pli=1";
    private const string AppStoreUrl = "https://apps.apple.com/br/app/companionation/id6761560261";
    private const string MicrosoftStoreUrl = "https://apps.microsoft.com/detail/9mtkf4nhdlnw?hl=en-US&gl=CA";

    // Only show the app-store badges in a real web browser, not inside the wrapper apps.
    private bool _showStoreBadges;

    private NewAccountModel _newAccountModel = new NewAccountModel();
    private bool _isEmailSent = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("loadFacebookWidget", "fb-widget-container");

            _showStoreBadges = await JSRuntime.InvokeAsync<bool>("window.isWebBrowser");
            if (_showStoreBadges)
            {
                StateHasChanged();
            }
        }
    }

    private async Task HandleValidSubmit()
    {
        if (_newAccountModel.Email == _newAccountModel.ConfirmEmail)
        {
            var result = await SignalRClient.SendAccountCreationEmail(_newAccountModel.Email);
            if (result)
            {
                _isEmailSent = true;
            }
        }
        else
        {
            // Show error message if emails do not match
            _isEmailSent = false;
            await JSRuntime.InvokeVoidAsync("alert", Loc["LandingPage_EmailsDoNotMatch"].Value);
        }
    }

    public class NewAccountModel
    {
        [Required(ErrorMessage = "Email is required.")]
        [EmailAddress(ErrorMessage = "Invalid email address.")]
        public string Email { get; set; }

        [Required(ErrorMessage = "Confirm Email is required.")]
        [Compare("Email", ErrorMessage = "The email addresses do not match.")]
        public string ConfirmEmail { get; set; }
    }
}
