@page "/landing"
@inject IJSRuntime JSRuntime
@inject CompanioNationSignalRClient SignalRClient
@using CompanioNation.Shared
@using System.ComponentModel.DataAnnotations
@inject IStringLocalizer<LandingPage> Loc


<CompanioNationLogo />

<div class="fullWidthCentered">
    <div class="block">
        <button class="greenButton" @onclick="MainLayoutInstance.ShowLogin">@Loc["LandingPage_LoginButton"]</button>
    </div>
</div>

<div class="intro">
    <h3>@Loc["LandingPage_Headline"]</h3>
    <ul>
        <li>@Loc["LandingPage_Feature_Free"]</li>
        <li>@Loc["LandingPage_Feature_Validation"]</li>
        <li>@Loc["LandingPage_Feature_AI"]</li>
        <li>@Loc["LandingPage_Feature_BuiltBy"]</li>
    </ul>
</div>


<div class="fullWidth">
    <div id="fb-widget-container" style="max-width: 500px; margin: 0 auto;">
        <div class="fb-page" 
             data-href="https://www.facebook.com/profile.php?id=61558167633095" 
             data-tabs="timeline" 
             data-width="500"
             data-height="" 
             data-small-header="false" 
             data-adapt-container-width="true" 
             data-hide-cover="false" 
             data-show-facepile="true">
            <blockquote cite="https://www.facebook.com/profile.php?id=61558167633095" class="fb-xfbml-parse-ignore">
                <a href="https://www.facebook.com/profile.php?id=61558167633095">CompanioNation</a>
            </blockquote>
        </div>
    </div>

    <AdviceOfTheDay />
    <!--
    <br /><br />
    <div class="container">
        <div id="youtubePlayer"></div>
    </div>
    -->

    <br /><br />
    <b>@Loc["LandingPage_WhatIs_Title"]</b>
    <br />
    <ul>
        <li>@Loc["LandingPage_WhatIs_Free"]</li>
        <li>@Loc["LandingPage_WhatIs_Worldwide"]</li>
        <li>@Loc["LandingPage_WhatIs_NoLikeGame"]</li>
        <li>@Loc["LandingPage_WhatIs_NoLimits"]</li>
        <li>@Loc["LandingPage_WhatIs_CompanioNita"]</li>
        <li>@Loc["LandingPage_WhatIs_FreeAdvice"]</li>
        <li>@Loc["LandingPage_WhatIs_Scammers"]</li>
        <li>@Loc["LandingPage_WhatIs_Ratings"]</li>
        <li>@Loc["LandingPage_WhatIs_ComingSoon"]</li>
    </ul>
    <br /><br /><br />
    <br /><br /><br />
</div>

<Footer />

@code {
    [Parameter, EditorRequired]
    public MainLayout MainLayoutInstance { get; set; }

    private NewAccountModel _newAccountModel = new NewAccountModel();
    private bool _isEmailSent = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("loadFacebookWidget", "fb-widget-container");
        }
    }

    private async Task HandleValidSubmit()
    {
        if (_newAccountModel.Email == _newAccountModel.ConfirmEmail)
        {
            var result = await SignalRClient.SendAccountCreationEmail(_newAccountModel.Email);
            if (result)
            {
                _isEmailSent = true;
            }
        }
        else
        {
            // Show error message if emails do not match
            _isEmailSent = false;
            await JSRuntime.InvokeVoidAsync("alert", Loc["LandingPage_EmailsDoNotMatch"].Value);
        }
    }

    public class NewAccountModel
    {
        [Required(ErrorMessage = "Email is required.")]
        [EmailAddress(ErrorMessage = "Invalid email address.")]
        public string Email { get; set; }

        [Required(ErrorMessage = "Confirm Email is required.")]
        [Compare("Email", ErrorMessage = "The email addresses do not match.")]
        public string ConfirmEmail { get; set; }
    }
}
