@page "/ResetPassword"
@using System.ComponentModel.DataAnnotations
@inject IJSRuntime JS
@inject CompanioNationSignalRClient SignalRClient
@inject NavigationManager NavManager

<style>
    .reset-page {
        margin: 1em;
    }
    .centered {
        margin: 1em;
    }
</style>
<div class="reset-page">

<EditForm EditContext="_editContext">
    <DataAnnotationsValidator />
    <ValidationSummary />

    @if (!_isLoading && !_isSuccess)
    {
        @if (_showEmailInput)
        {
            <h3>Verify Your Email Address</h3>
            <div class="form-group">
                <label for="email">Email Address</label>
                <InputText id="email" @bind-Value="_email" class="form-control" />
                <ValidationMessage For="@(() => _email)" />
            </div>

            <div class="centered">
                <ActionButton OnClick="RequestNewVerificationCode">Send Password Reset Email</ActionButton>
            </div>
        }
        else
        {
            <h3>Pick A Password</h3>
            <div class="form-group">
                <label for="newPassword">New Password</label>
                <InputText id="newPassword" type="password" @bind-Value="_passwordResetModel.NewPassword" class="form-control" />
                <ValidationMessage For="@(() => _passwordResetModel.NewPassword)" />
            </div>

            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <InputText id="confirmPassword" type="password" @bind-Value="_passwordResetModel.ConfirmPassword" class="form-control" />
                <ValidationMessage For="@(() => _passwordResetModel.ConfirmPassword)" />
            </div>

            <div class="centered">
                <ActionButton OnClick="DoResetPassword">Set Password</ActionButton>
            </div>
        }
    }

    @if (_isLoading)
    {
        <div class="loading-indicator">Processing...</div>
    }
    else if (_isSuccess)
    {
        <div class="success-message">@_successMessage</div>
    }
    else if (!string.IsNullOrWhiteSpace(_errorMessage))
    {
        <div class="error-message">@_errorMessage</div>
    }
</EditForm>

<div><br /><br /><br /><NavLink href="/">Return to Home Page</NavLink></div>

</div>

@code {
    public class PasswordResetModel
    {
        [Required(ErrorMessage = "New password is required.")]
        [StringLength(1024, ErrorMessage = "The password must be at least {2} characters long.", MinimumLength = 8)]
        public string NewPassword { get; set; }

        [Required(ErrorMessage = "Confirm password is required.")]
        [Compare("NewPassword", ErrorMessage = "The new password and confirmation password do not match.")]
        public string ConfirmPassword { get; set; }
    }

    private PasswordResetModel _passwordResetModel = new PasswordResetModel();
    private EditContext _editContext;
    private bool _isLoading = true;
    private bool _isSuccess = false;
    private string _errorMessage = string.Empty;
    private string _successMessage = string.Empty;
    private string _email = string.Empty;
    private bool _showEmailInput;

    [Parameter]
    [SupplyParameterFromQuery(Name = "verification_code")]
    public string? VerificationCode { get; set; }

    protected override void OnInitialized()
    {
        _editContext = new EditContext(_passwordResetModel);
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _showEmailInput = !await SignalRClient.CheckVerificationCode(VerificationCode);
            _isLoading = false;
            StateHasChanged();
        }
    }

    private async Task DoResetPassword()
    {
        _isLoading = true;
        _isSuccess = false;
        _errorMessage = string.Empty;
        StateHasChanged();

        if (_editContext.Validate())
        {
            try
            {
                if (!string.IsNullOrWhiteSpace(VerificationCode))
                {
                    var result = await SignalRClient.ResetPassword(VerificationCode, _passwordResetModel.NewPassword);
                    if (result)
                    {
                        _isSuccess = true;
                        _successMessage = "Your password has been set successfully!";
                        _passwordResetModel = new PasswordResetModel();
                        _editContext = new EditContext(_passwordResetModel);
                        //await Task.Delay(2000);
                        //NavManager.NavigateTo("/");
                    }
                    else
                    {
                        _showEmailInput = true;
                        _errorMessage = "An unknown error occurred. Please re-enter your email address.";
                    }
                }
                else
                {
                    _showEmailInput = true;
                    _errorMessage = "Verification code is missing. Please re-enter your email address.";
                }
            }
            catch (Exception ex)
            {
                _showEmailInput = true;
                _errorMessage = $"An error occurred: {ex.Message}, please re-enter your email address.";
            }
            StateHasChanged();
        }

        _isLoading = false;
    }

    private async Task RequestNewVerificationCode()
    {
        _isLoading = true;
        _errorMessage = string.Empty;
        StateHasChanged();

        try
        {
            await SignalRClient.RequestNewVerificationCode(_email);

            // Indicate success
            _isSuccess = true;
            _successMessage = "A reset password email has been sent. Please check your inbox.";
            _isLoading = false;
            //await Task.Delay(10000);
            //NavManager.NavigateTo("/");
        }
        catch (Exception ex)
        {
            _errorMessage = $"An error occurred: {ex.Message}";
            _isLoading = false;
        }
        StateHasChanged();
    }
}
